<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <% messages.forEach(message=> { %>
    <li class="message" id="<%= message.id %>">
      <span class="user">
        <%= message.username %>
      </span>
      <span class="text">
        <%= message.text %>
      </span>
      <span class="datetime">
        <%= message.added %>
      </span>
      <a href="/<%= message.id %>" class="show_message">Show</a>
    </li>
    <%}); %>
      <a href="/new" class="send">
        Send message
      </a>
</body>

</html>